@CHARSET "UTF-8";
/* 여행지 추천 글쓰기 */
main { box-sizing:border-box;}
table, td { border-top: 2px solid silver; 
			border-bottom: 2px solid silver; border-collapse: collapse; }
caption   { margin: 20px; font-size:50px; font-family: fantasy; color:gray;}
form      { padding-top:200px; }
.tboard   { margin:0 auto; width:1500px; height:3000px;}
#mainimage { height:500px; width:50%; text-align:center;}
.tboard #input { height:125px; width:50%; padding-left:50px; font-size:20px;
				 vertical-align: bottom; }
td input  { font-size:20px; width:80%; height:30px;
		    border:none;  font-size:18px; }
#cont     { margin-top:200px; overflow:hidden; resize:none;
		    width:1500px; height:300px; font-size:20px; text-align:center;  }
#insertcont {  overflow:hidden; resize:none;
		    width:1500px; height:600px; font-size:20px; text-align:center; }
#insertbtn  { width:600px; height:450px; text-align:center; border:none; background-color:white; }
#insertbtn2  { width:600px; height:450px; text-align:center; border:none; background-color:white; }
#insertbtn3  { width:600px; height:450px; text-align:center; border:none; background-color:white; }
#insertbtn img {width:100%; height:100%;}
#imagediv   { display: inline-block;   height:450px; width:100%;
		  text-align:center; }
			
#content {  display:inline-block;  
			 width:100%; height:100%; text-align:center;} 
#mimage  { display:none;} 
#putmimage { width:100%; height:100%; text-align:center; font-size:50px;
			 border:none; background-color: white; color:silver;} 


#submit   { text-align:center;  width:200px; font-size:50px; height:100px;}
.submit   { text-align:center;}
/* 여행지 추천 게시물 보기  */
